style
    .gridStyle {
        border: 1px solid rgb(212,212,212);

        height: 300px
    }
h6 My Albums/Songs
.row-fluid
    .span8
        .gridStyle(ng-grid='gridOptions')
.row-fluid
    &nbsp;
.row-fluid
    a.btn.btn-primary.btn-large(ng-click='addAlbum()') Add Album/Song!