

block content
    style
        /* Carousel base class */
            .carousel {
              margin-bottom: 60px;
            }

            .carousel .container {
              position: absolute;
              right: 0;
              bottom: 0;
              left: 0;
            }

            .carousel-control {
              background-color: transparent;
              border: 0;
              font-size: 120px;
              margin-top: 0;
              text-shadow: 0 1px 1px rgba(0,0,0,.4);
            }

            .carousel .item {
              height: 500px;
            }
            .carousel img {
              min-width: 100%;
              height: 500px;
            }

            .carousel-caption {
              background-color: transparent;
              position: static;
              max-width: 550px;
              padding: 0 20px;
              margin-bottom: 100px;
            }
            .carousel-caption h1,
            .carousel-caption .lead {
              margin: 0;
              line-height: 1.25;
              color: #fff;
              text-shadow: 0 1px 1px rgba(0,0,0,.4);
            }
            .carousel-caption .btn {
              margin-top: 10px;
            }
        body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
            #musicdiv {
                background-image: url('images/mlover_sm.jpg');
                height: 300px;
                width: 300px;
            }
            #artistdiv {
                background-image: url('images/artistsq_sm.jpg');
                height: 300px;
                width: 300px;
            }
        #promoterdiv {
            background-image: url('images/promoter_sm.jpg');
            height: 300px;
            width: 300px;
        }




    div.container
        p <i>Enabling the creative</i>&trade; Where fans fund artists and share in their success.
        div.row
            ul.thumbnails
                li.span4
                    div.thumbnail(style="width: 300px; height: 550px;")
                        img(src="images/mlover_sm.jpg")
                        div.caption
                            h3 Music Lover
                            //p Enabling the creative Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            p Are you a music fanatic? You love to find and experience new music? Look no further, we’ve got what you need. Support independent artists, share playlists, and win prizes, music, and more. Find out how it works.

                            //ul
                                li Explore new sounds
                                li Muscians price their own music
                                li Muscians share their royalties with you!
                                li Buy music from us, share the artist with your friends, find the next hot bands
                            br
                            br
                            br
                            br
                            br
                            br
                            div(style=" bottom: 0; left: 0;")
                                - if (!locals.user)
                                    a.btn.btn-primary(href="#signupDialog",role="button",data-toggle="modal") Sign Up!
                                &nbsp;
                                a.btn(href="/musicloverinfo") Learn More

                li.span4
                    div.thumbnail(style="width:300px; height:550px;")
                        img(src="images/artistsq_sm.jpg")
                        div.caption
                            h3 Artist
                            //p Enabling the creative Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            //p Are you the one who’s always on the lookout for the next best thing? You’re friends ask you what you’re listening to these days? Put your money where your mouth is and get paid for your good taste. You’ll be supporting independent music too. Find out more.
                            p We all know the system’s broken: streaming doesn’t pay, pirating is rampant, and they’ll eat your soul just to produce an album. We have a better way. Crowdfund your album costs, sell your music, and build fan support by letting them share in your success. If that wasn’t enough, you have total control of your content. Join us and help build a better system.
                            br
                            br

                            //ul
                                li Let fans fund your music allowing you both to benefit
                                li Stay independent, control your content and your pricing
                                li Expand your audience and your creativity
                            - if (!locals.user)
                                a.btn.btn-primary(href="#signupDialog",role="button",data-toggle="modal") Sign Up!
                            &nbsp;
                            a.btn(href="/artistinfo") Learn More
                li.span4
                    div.thumbnail(style="width: 300px; height: 550px;")
                        img(src="images/promoter_sm.jpg")
                        div.caption
                            h3 Promoters/Investor
                            //p Enabling the creative Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            p Are you the one who’s always on the lookout for the next best thing? Your friends ask you what you’re listening to these days? Put your money where your mouth is and get paid for your good taste. You’ll be supporting independent music too. Find out more.
                            br
                            br
                            br
                            br
                            br
                            br

                            //ul
                                li Invest in music you love
                                li Use your and others networks to benefit from the music you have invested in
                                li Support independence by increasing its' exposure and variety
                            - if (!locals.user)
                                a.btn.btn-primary(href="#signupDialog",role="button",data-toggle="modal") Sign Up!
                            &nbsp;
                            a.btn(href="/investorinfo") Learn More


    // market
    div.container
    hr
    div.container

        div.row
            div.span6

            div.span6

        div.row
        div.row
            div.span6
                h2 Marketplace
                p  Support musicians by investing in their albums and you’ll win when they win. Browse recent and upcoming albums for investment opportunities.
                table#grid
                    thead
                        tr
                            th Band
                            th Album
                            th $ on Offer
                            th $ per share
                            th # of shares
                            th Listen!
                            th More Info
                    tbody
                        td(colspan=7)
                div.container
                div.media
                    a.pull-left(href="#")
                        .thumbnail
                            img.media-object(src="images/band.jpg",width="100")
                    div.media-body
                        h4.media-heading Featured Offering
                        p Trilogy (Moop) $500/share (Only 4 shares left!)
                        a.btn.btn-primary(href="#") Buy Now !
            div.span6
                h2 Shop Music
                p  Music priced by musicians for your listening pleasure. Shop and sample the latest albums.
                div.tabbable
                    ul.nav.nav-tabs
                        li.active
                            a(href="#tab1",data-toggle="tab") This Week
                        li
                            a(href="#tab2",data-toggle="tab") New Releases

                    div.tab-content
                        div#tab1.tab-pane.active
                            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                            div
                                ul.thumbnails
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/51Jc2v9ndpL._SL500_AA300_.jpg",width="90")
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/61e3FaHueCL._SL500_AA300_.jpg",width="90")
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/61iKyNi5UKL._SL500_AA300_.jpg",width="90")
                                    //li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/41ZsWDiEvfL._SL500_AA300_.jpg",width="90")
                        div#tab2.tab-pane
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesen doloremque laudantium, totam
                            div
                                ul.thumbnails
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/61DAJ0zqFhL._AA160_.jpg",width="90")
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/51Xb620XzWL._AA160_.jpg",width="90")
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/5135bFFBrWL._AA160_.jpg",width="90")
                                    //li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/51DcM7PBuhL._AA160_.jpg",width="90")
                        a.btn.btn-large.btn-primary(href="/store") See All Music!








    // init carousel
    script
            $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
            $('#signupDialog').on('show',function(){
                //$('#signupForm')[0].reset();
            });

            var socket = io.connect();
            socket.emit('newIssue',{name:"test"});
            // handle submission form
            //$('#newProjectForm').submit(function(){
                //$('#addOfferDialog').remove();
            //    var formData = $(this).serialize();
                //alert(formData);
            //    socket.emit('newIssue',{data:formData});


            //});
            //$('#signupForm').submit(function(){

            //    var formData = $('#signupForm').serialize();
                //$('#signupDialog').remove();
                //alert(formData);
            //    socket.emit('command',{command:'createUser',data:formData});
                //$('#signupDialog').modal('hide');
            //    return true;
            //});
    script
        !function ($) {
            $(function(){
              // carousel demo
              $('#mainCarousel').carousel()
            })
          }(window.jQuery)
    script
        $("#grid").kendoGrid({
            height: 200,
            columns: [
                {title: "Band", field: "band"},
                {title: "Album", field: "projectName"},
                {title: "$ On Offer", field: "amountRequired"},
                {title: "$ Per Share", field: "dolPerShare"},
                {title: "# Of Shares", field: "noOfShares"},
                {title: "Listen!", command: "listen"},
                {title: " ", command: {text: "More Info", click: moreInfo}}
            ],
            dataSource: {
                //data:[
                //    {band:"Moop",album:"Trilogy",dolOnOffer:10000,dolPerShare:1000,numOfShares:10},
                //    {band:"Faith+1",album:"Renewal",dolOnOffer:5000,dolPerShare:100,numOfShares:50}
                //],
                transport: {
                    read: '/api/issues'
                },
                pageSize: 10
            }
        });
        function moreInfo(e) {
            e.preventDefault();
            window.location = "/artist";
        };
    script#listtmpl(type="text/x-kendo-tmpl")
        <div><h4>${title}</h4></div>

