style
    body {
            padding-top: 60px;
            padding-bottom: 40px;
          }

div.container
    div.hero-unit
        h2 Music Lover
        p SoundScry is a place where you can listen to, purchase, and promote music.
        p: i NOTHING NEW YOU SAY?
        p: i Here’s how we are different:
        ul
            li Invest in a band’s music by purchasing shares in their album. You’ll make money when they sell music through SoundScry.
            li Win prizes and more when you predict which albums will sell best.
            li Bands price their own music which means you get a better deal.
            li We give away a larger share of the royalties so you’ll be supporting independent artists while saving at the same time.
        p: i Gaming Example:
        .well
            ul
                li You get to choose up to 100 albums that you think will be popular.
                li You gain points when those albums sell.
                li If you have enough points at the end of the contest period you win prizes and a chance to write reviews of albums on the site.
        p: i Investing Example:
        .well
            ul
                li You buy shares of an album which gives you a percentage of the profits.
                li The band sells 2,000 albums at $10 each for a total of $20,000.
                li After we take a commission, the band and fans split $15,000 for $7,500 each
                li This means that the musician receives $3.75 per album sold as opposed to $1.10-$1.40 per album or 0.040¢ per stream from existing sites.
                li You make money based on your purchased shares (which is more than you’ll get anywhere else!).

        p: a.btn.btn-primary.btn-large(ng-hide="user.isAuthenticated()",role="button",ng-click="openSignUpDialog()") Sign Up!