doctype 5
html(ng-app="soundscry")
  head
    //title= title
    base(href='/')
    //link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='/css/bootstrap.css')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/bs/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bs/bootstrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/bs-editable/bootstrap-editable.css')
    link(rel='stylesheet', href='/stylesheets/jquery.fileupload-ui.css')
    link(rel='stylesheet', href='/stylesheets/kendo/kendo.common.min.css')
    link(rel='stylesheet', href='/stylesheets/kendo/kendo.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/kendo/kendo.dataviz.min.css')
    style
      [class^="icon-"] { background-image: url("/images/bs/glyphicons-halflings.png"); }
      [class*="icon-white"] { background-image: url("/images/bs/glyphicons-halflings-white.png"); }
      .icon-sslogo-white {
          background-image: url("/images/sslogo-white-ico.png");
          background-position: center center;
      }

  body
    block content
      .footer
          hr
          p &copy; SoundScry 2012
          ul
              li Facebook
              li Twitter
              li Jobs
              li Blog
              li Terms of Use
              li Privacy Policy
    block scripts
    //script(src='http://code.jquery.com/jquery-1.8.2.min.js')
    //script(src='/javascripts/bs/bootstrap.js')
    //script(src='/javascripts/kendo/kendo.web.min.js')
    //script(src='/javascripts/kendo/kendo.dataviz.min.js')
    //script(src='/javascripts/jqBootstrapValidation.js')
    //script(src='/socket.io/socket.io.js')
    //script(src='/javascripts/uuid.js')
    //script(src='/javascripts/underscore.js')
    //script(src='/javascripts/jquery.jeditable.js')
    //script(src='/javascripts/bs-editable/bootstrap-editable.js')
    //script(src='/javascripts/jquery-ui-1.10.2.custom.js')