extends layout

block content
    style
        body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
    include common/topbar


    div#signUpModal.modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="signUpModalLabel",aria-hidden="true)
        div.modal-header
            button.close(type="button",data-dismiss="modal",aria-hidden="true") x
            h3#signUpModalLabel SignUp
        div.modal-body
            p -
        div.modal-footer
            button.btn(data-dismiss="modal",aria-hidden="true") Close
            button.btn.btn-primary Save Changes
    div.container
        div.hero-unit
            h2 Artist
            p The goals of the SoundScry platform are the following:
            ul For you to control your destiny by keeping and building your independence
                li By receiving Upfront funding from fans, investors, music lovers, and business owners
                li The funds that you raise through SoundScry are yours and DO NOT go against royalties or said another way, the funds you raise are an advance on your album without having to pay it back
            ul  Keep control of your content by
                li Choosing sell by album and/or track along with to
                li The control of pricing your content the way you want to
            ul Your investors and fans become your biggest promoters by
                li Utilizing their online and offline networks to grow interest in your music – We call this Motivated peer-to-peer marketing
                li By having your fans as your investors they are will benefit from your success and therefore more inclined to aggressively promote your music
            ul Giving you access tools take you through a process that will help you determine:
                li How much money you need to raise
                li Will determine what your Offering to fans, promoter, investors, businesses will look like
            ul  Reports that will:
                li Track the amount of money you have raised per Offering and how many investors you have per offering
                li Keep track of your income through our site
                li Tracks listened to
                li Tracks/Albums sold
                li Merchandising sold
                li Analytics on investor and listener behavior
                li Plus much more
            p Idealistically speaking we want more music to be heard across more audiences, thus expanding creativity and public interaction with a wide variety of music.
            p To sum it up; we are a music distribution platform that believes in an ownership philosophy which allows venue owners, professional promoters, and listeners to invest in your album giving you upfront money for a percentage of the proceeds that the album generates through music downloads from this site.
            p: i There are NO up front fees.
            p: i Our fees are dependent upon your success
            p: i Try us out. There is nothing to lose.
            p: a.btn.btn-primary.btn-large(href="#signupDialog",role="button",data-toggle="modal") Sign Up!