extends layout

block content
    style
        body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
    include common/topbar


    div#signUpModal.modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="signUpModalLabel",aria-hidden="true")
        div.modal-header
            button.close(type="button",data-dismiss="modal",aria-hidden="true") x
            h3#signUpModalLabel SignUp
        div.modal-body
            p -
        div.modal-footer
            button.btn(data-dismiss="modal",aria-hidden="true") Close
            button.btn.btn-primary Save Changes
    div.container
        div.hero-unit
            h2 Artist
            p The goals of the SoundScry platform are the following:
            p: i Retain your independence
            ul
                li Receive funding from fans, investors, and business owners.
                li The funds that you raise through SoundScry are yours and ARE NOT subtracted from royalties. That is to say, the funds you raise from the crowd are an advance on your album that doesn’t need to be paid back.
            p: i Keep control of your content
            ul
                li Choose to sell by album or track.
                li Price your albums/tracks as you please.
                li Offer sales and specials whenever you choose.
            p: i Build networks of motivated fans and investors
            ul
                li Listeners win prizes and prestige when they predict which albums succeed. Those who have bet on your album will be motivated to tell their friends.
                li Fans who have become investors in your album benefit from your success and are therefore more inclined to aggressively promote your music
            p: i Access to tools that help you determine
            ul
                li How much money to ask for from your fans.
                li What percentage of your revenues should go to your fans.
            p: i Reports that will:
            ul
                li Track the amount of money you have raised for an album and how many investors have bought into the album
                li Keep track of your income through our site
                li Monitor track plays
                li Monitor tracks/albums sold
                li Track merchandise sales
                li Provide analytics on investor and listener behavior
                li Plus much more...
            p We want a wider variety of music to be heard by a broader range of audiences, thus expanding creativity and public interaction.
            p In short, we are a music distribution platform that believes in an ownership philosophy which allows venue owners, professional promoters, and listeners to invest in your album giving you up-front money for a percentage of the proceeds that the album generates through music downloads from this site.
            p: i There are NO up front fees.
            p: i Our fees are dependent upon your success
            p: i Try us out. There is nothing to lose.
            p: a.btn.btn-primary.btn-large(href="#signupDialog",role="button",data-toggle="modal") Sign Up!