extends layout
block content
    style
        body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
    include common/topbar

    .container
        .row
            .span2
            .span10
                p Refer to <a>FAQs</a> for a full list of answers to frequently asked questions
                ul Common Issues
                    li: a I am having trouble logging in
                    li: a As a musician, how do I determine what my offering should be?
                    li: a I love music, and am interesting in investing in a band.  What do I have to do
                ul Check the <a>FAQs</a> first, but if your still need help please contact us here:
                    li: a If you are a music lover, click here
                    li: a If you are muscian or investor, click here.