extends layout

block content
    style
        /* Carousel base class */
            .carousel {
              margin-bottom: 60px;
            }

            .carousel .container {
              position: absolute;
              right: 0;
              bottom: 0;
              left: 0;
            }

            .carousel-control {
              background-color: transparent;
              border: 0;
              font-size: 120px;
              margin-top: 0;
              text-shadow: 0 1px 1px rgba(0,0,0,.4);
            }

            .carousel .item {
              height: 500px;
            }
            .carousel img {
              min-width: 100%;
              height: 500px;
            }

            .carousel-caption {
              background-color: transparent;
              position: static;
              max-width: 550px;
              padding: 0 20px;
              margin-bottom: 100px;
            }
            .carousel-caption h1,
            .carousel-caption .lead {
              margin: 0;
              line-height: 1.25;
              color: #fff;
              text-shadow: 0 1px 1px rgba(0,0,0,.4);
            }
            .carousel-caption .btn {
              margin-top: 10px;
            }
        body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
            #musicdiv {
                background-image: url('images/mlover_sm.jpg');
                height: 300px;
                width: 300px;
            }
            #artistdiv {
                        background-image: url('images/artistsq_sm.jpg');
                        height: 300px;
                        width: 300px;
                    }
        #promoterdiv {
                                background-image: url('images/promoter_sm.jpg');
                                height: 300px;
                                width: 300px;
                            }
    include common/topbar

    // signup dialog
    div#signupDialog.modal.hide.fade(tabindex="-1",role="dialog",aria-labelledby="signupDialogLabel",aria-hidden="true")
        div.modal-header
            button.close(type="button",data-dismiss="modal",aria-hidden="true") x
            h3#signupDialogLabel Join SoundScry!
        form#signupForm.well(method="POST",action="/signup")
            div.modal-body
                label Email
                input.span3(type="text",placeholder="Email",name="email")
                label Password
                input.span3(type="text",placeholder="Password",name="password")
                label Confirm Password
                input.span3(type="text",placeholder="Confirm Pass",name="passconfirm")
                label How do you think you will primarily use SoundScry?
                a(href="#",rel="tooltip",title="Music Lovers listen to and purchase music, Artists seek funding, connect with fans and seek investment, Promoters support their bands and fan base....")
                    select(name="primaryuse")
                        option(value="musiclover") Music Lover
                        option(value="artist") Artist
                        option(value="promoter") Promoter
            div.modal-footer
                button.btn(data-dismiss="modal",aria-hidden="true") Close
                button.btn.btn-primary(id="signupbtn",type="submit") Sign Up!



    div.container
        p Enabling the creative Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        div.row
            ul.thumbnails
                li.span4
                    div.thumbnail
                        img(src="images/mlover_sm.jpg")
                        div.caption
                            h3 Music Lover
                            p Enabling the creative Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            p
                                a.btn.btn-primary(href="#") Sign Up!
                                &nbsp;
                                a.btn(href="#") Learn More

                li.span4
                    div.thumbnail
                        img(src="images/artistsq_sm.jpg")
                        div.caption
                            h3 Artist
                            p Enabling the creative Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            p
                                a.btn.btn-primary(href="#") Sign Up!
                                &nbsp;
                                a.btn(href="/artistinfo") Learn More
                li.span4
                    div.thumbnail
                        img(src="images/promoter_sm.jpg")
                        div.caption
                            h3 Promoter
                            p Enabling the creative Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                            p
                                a.btn.btn-primary(href="#") Sign Up!
                                &nbsp;
                                a.btn(href="#") Learn More


    // market
    div.container
    hr
    div.container

        div.row
            div.span6

            div.span6

        div.row
        div.row
            div.span6
                h2 Marketplace
                p  Supporting Bands by Investing In Their Success
                table#grid
                    thead
                        tr
                            th Band
                            th Album
                            th $ on Offer
                            th $ per share
                            th # of shares
                            th Listen!
                            th More Info
                    tbody
                        td(colspan=7)
                div.container
                div.media
                    a.pull-left(href="#")
                        img.media-object(src="images/band.jpg",width="90")
                    div.media-body
                        h4.media-heading Featured Offering
                        p Trilogy (Moop) $500/share (Only 4 shares left!)
                        a.btn.btn-primary(href="#") Buy Now !
            div.span6
                h2 Shop Music
                p  Supporting Bands by Investing In Their Success
                div.tabbable
                    ul.nav.nav-tabs
                        li.active
                            a(href="#tab1",data-toggle="tab") This Week
                        li
                            a(href="#tab2",data-toggle="tab") New Releases

                    div.tab-content
                        div#tab1.tab-pane.active
                            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                            div.row-fluid
                                ul.thumbnails
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/51Jc2v9ndpL._SL500_AA300_.jpg",width="90")
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/61e3FaHueCL._SL500_AA300_.jpg",width="90")
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/61iKyNi5UKL._SL500_AA300_.jpg",width="90")
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/41ZsWDiEvfL._SL500_AA300_.jpg",width="90")
                        div#tab2.tab-pane
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesen doloremque laudantium, totam
                            div.row-fluid
                                ul.thumbnails
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/61DAJ0zqFhL._AA160_.jpg",width="90")
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/51Xb620XzWL._AA160_.jpg",width="90")
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/5135bFFBrWL._AA160_.jpg",width="90")
                                    li
                                        a(href="#")
                                            img.thumbnail(src="http://ecx.images-amazon.com/images/I/51DcM7PBuhL._AA160_.jpg",width="90")
                        a.btn.btn-large.btn-primary(href="#") See All Music!

    hr


    footer
        div.container

        p &copy; SoundScry 2012
    //blocks
        div.container.marketing
            div.row
                div.span4
                    img.img-circle(src='http://placehold.it/140x140')
                    h2 Artists
                    p Artist stuff
                    p: a.btn(href="#") View Details &raquo;
                div.span4
                    img.img-circle(src='http://placehold.it/140x140')
                    h2 Promoters
                    p promoter stuff
                    p: a.btn(href="#") View Details &raquo;
                div.span4
                    img.img-circle(src='http://placehold.it/140x140')
                    h2 Music Lovers
                    p Music stuff
                    p: a.btn(href="#") View Details &raquo;
    // init carousel
    script
            $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
            $('#signupDialog').on('show',function(){
                //$('#signupForm')[0].reset();
            });

            //var socket = io.connect();
            //socket.emit('newIssue',{name:"test"});
            // handle submission form
            //$('#newProjectForm').submit(function(){
                //$('#addOfferDialog').remove();
            //    var formData = $(this).serialize();
                //alert(formData);
            //    socket.emit('newIssue',{data:formData});


            //});
            //$('#signupForm').submit(function(){

            //    var formData = $('#signupForm').serialize();
                //$('#signupDialog').remove();
                //alert(formData);
            //    socket.emit('command',{command:'createUser',data:formData});
                //$('#signupDialog').modal('hide');
            //    return true;
            //});
    script
        !function ($) {
            $(function(){
              // carousel demo
              $('#mainCarousel').carousel()
            })
          }(window.jQuery)
    script
        $("#grid").kendoGrid({
            height: 200,
            columns: [
                {title: "Band", field: "band"},
                {title: "Album", field: "projectName"},
                {title: "$ On Offer", field: "amountRequired"},
                {title: "$ Per Share", field: "dolPerShare"},
                {title: "# Of Shares", field: "noOfShares"},
                {title: "Listen!", command: "listen"},
                {title: " ", command: {text: "More Info", click: moreInfo}}
            ],
            dataSource: {
                //data:[
                //    {band:"Moop",album:"Trilogy",dolOnOffer:10000,dolPerShare:1000,numOfShares:10},
                //    {band:"Faith+1",album:"Renewal",dolOnOffer:5000,dolPerShare:100,numOfShares:50}
                //],
                transport: {
                    read: '/api/issues'
                },
                pageSize: 10
            }
        });
        function moreInfo(e) {
            e.preventDefault();
            window.location = "/artist";
        };
    script#listtmpl(type="text/x-kendo-tmpl")
        <div><h4>${title}</h4></div>
    script
//        $("#genrelist").kendoListView({
//            template: kendo.template($("#listtmpl").html()),
//            height: 200,
//            dataSource: {
//                data:[
//                    {title:"Rock"},
//                    {title:"Country"},
//                    {title:"HipHop"},
//                    {title:"R & B"},
//                    {title:"Pop"},
//                    {title:"Classical"}
//                ]
//
//            }
//        });
