extends layout

block content
    style
        body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
    include common/topbar
    div.container
        div.hero-unit
            h2 Music Lover
            p SoundScry is a place where you can listen to a bands’ music, purchase it, and promote it.
            p: i NOTHING NEW YOU SAY -> Here’s how we are different:
            ul
                li Music lovers actually invest in the bands’ music by purchasing share from the bands’ Offering (An Offering is when a band currently has share to sell in their album)
                li Music lovers share in the music and merchandising purchases through the SoundScry platform
                li Bands price their own music
                li Band’s receive a much larger share of the royalties
            p For Example:
            .well
                ul
                    li Band A Offers a 50/50 split to cover $5,000 in expenses
                    li Band A sells 2,000 albums and merchandise at $10 each through the SoundScry platform for a total of $20,000
                    li After a commission of 25% has been deducted the Musician and the Investor fans will split $15,000, 50/50 or $7,500 each.
                    li This means that the musician receives $3.75 per album sold as opposed to the 0.70¢ to $1.00 per download or 0.040¢ per stream.

            p: a.btn.btn-primary.btn-large Sign Up!