extends layoutprofile

block content
    style
        body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
              .sidebar-nav {
                padding: 9px 0;
              }
    include common/topbar

    div.container-fluid
        div.row-fluid
            div.span3
                - if(locals.user.primaryuse =='artist' && !locals.user.isArtist)
                    .container
                        .alert.span4
                            button(type="button",data-dismiss="alert") &times;
                            message Click "Musician" to Complete Signup
                - if(locals.user.primaryuse =='investor' && !locals.user.isInvestor)
                    .container
                        .alert.span4
                            button(type="button",data-dismiss="alert") &times;
                            message Click "Investor" to Complete Signup
                div.well.sidebar-nav
                    ul#sidenav.nav.nav-list
                        li.nav-header Options
                        li: a(href="/fragments/acctinfo") Edit Profile
                        li.active: a(href="#") Active Offerings
                        - if (locals.user.isArtist)
                            li: a(href="/fragments/musicianprofile") Musician
                                ul.nav.nav-list
                                    li: a(href="/fragments/managealbums") Manage Albums
                                    li: a(href="/fragments/musicianreports") Reports
                        - else
                            li: a(href="/fragments/musiciansignup") Musician
                        - if (locals.user.isInvestor)
                            li: a(href="/fragments/investorprofile") Investor
                                ul.nav.nav-list
                                    li: a(href="/fragments/investorreports") Reports
                        - else
                            li: a(href="/fragments/investorsignup") Investor
                        li: a(href="/fragments/musicloverprofile") Music Lover
                        li: a(href="/fragments/financialinfo") Financial Info
                        li: a(href="/profile/genres") Music Genres
                        li: a(href="/profile/bandsearch") Band Search
                //a.btn.btn-primary.span2(href="#addOfferDialog",role="button",data-toggle="modal") Add Project!
                .container
                    a.btn.btn-primary.span2(id="addProjectBtn",href="/fragments/addoffering") Add Offering!
                // alerts
                // musician sign up
                .container
                    .row
                    .row


            div.span9
                div#profileContent.hero-unit
                    div.row-fluid
                        div.span8
                            table#grid
                                thead
                                    tr
                                        th Band
                                        th Project
                                        th Shares Owned
                                        th Value
                                        th Status
                                        th Revenue
                                tbody
                                    td(colspan=6)
                        div.span4
                            div#investchart
                    div.row-fluid
                    br
                    div.row-fluid
                        div.span12
                            div#revenuechart
    //
        div#addOfferDialog.modal.hide.fade()
            div.modal-header
                button.close(type="button",data-dismiss="modal",aria-hidden="true")
                h3#addOfferDialogLabel Create A New Project!
            form.well(id="newProjectForm",method="post",action="/api/issue",enctype="multipart/form-data")
                div.modal-body
                    label Project Name
                    input.span3(type="text",placeholder="Project Name",name="projectName",required="")
                    label Amount Required for Project (USD)
                    input.span3(type="number",placeholder="Amount Required",name="amountRequired",required="")
                    label Number of Shares
                    input.span3(type="number",placeholder="Number of shares",name="noOfShares",required="")
                    label Single Investor Max
                    input.span3(type="text",placeholder="Single Investor Max",name="singleInvestorMax")
                    label Description (max 1000 characters)
                    textarea.span3(rows="4",placeholder="Description",name="description",required="")
                    label Photo (1500x900)
                    input.span3(type="file",name="photo")

                div.modal-footer
                    button.btn(data-dismiss="modal",aria-hidden="true") Close
                    button.btn.btn-primary(id='submitbtn',type='submit') Create!
    script
        //$('#sidenav a').css("border", "2px dotted blue");
        function loadProfilePage(page) {
            $.ajax({

             type: "GET",
             url: page,
             //data: "id=" + id, // appears as $_GET['id'] @ ur backend side
             success: function(data) {
                   // data is ur summary
                  $('#profileContent').hide();
                  $('#profileContent').html(data);
                  $('#profileContent').fadeIn();
             }

           });
        }
        $('#sidenav a').click(function(evt){
            evt.preventDefault();
            //alert(evt.target);
            $('#sidenav li[class="active"]').toggleClass('active');
            var tgt = $(evt.target);
            tgt.parent().toggleClass('active');
            console.log(tgt.context.href);
            $.ajax({

                 type: "GET",
                 url: tgt.context.href,
                 //data: "id=" + id, // appears as $_GET['id'] @ ur backend side
                 success: function(data) {
                       // data is ur summary
                      $('#profileContent').hide();
                      $('#profileContent').html(data);
                      $('#profileContent').fadeIn('fast',function(){
                          fragmentLoaded();
                      });

                 }

               });
            //alert(evn.data);
            //evt.target.parentElement.toggleClass('active');
            return false;
        });
    script
        $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
        var socket = io.connect();
        //socket.emit('newIssue',{name:"test"});
        // handle submission form
        $('#newProjectForm').submit(function(){
            //$('#addOfferDialog').remove();
            var formData = $(this).serialize();
            //alert(formData);
            socket.emit('newIssue',{data:formData});


        });
        //$('#submitbtn').click(function(){

        //    var formData = $('#newProjectForm').serialize();

        //    //alert(formData);
        //    socket.emit('newIssue',{data:formData});
        //    $('#addOfferDialog').hide();
        //});
    script
        $("#addProjectBtn").click(function(evt){
                    evt.preventDefault();
                    //alert(evt.target);
                   // $('#sidenav li[class="active"]').toggleClass('active');
                    var tgt = $(evt.target);
                    //tgt.parent().toggleClass('active');
                    console.log(tgt.context.href);
                    $.ajax({

                         type: "GET",
                         url: tgt.context.href,
                         //data: "id=" + id, // appears as $_GET['id'] @ ur backend side
                         success: function(data) {
                               // data is ur summary
                              $('#profileContent').hide();
                              $('#profileContent').html(data);
                              $('#profileContent').fadeIn();
                         }

                       });
                    //alert(evn.data);
                    //evt.target.parentElement.toggleClass('active');
                    return false;
                });
    script
        /*
        $("#revenuechart").kendoChart({
            title: {
                text: "Revenue Over Time"
            },
            series: [
                {
                    type: "line",
                    name: "Revenue",
                    data:[50.27,112.65,245.50,302.97,600.12, 1027.25, 2047.45]
                }
            ],
            seriesDefaults: {type: "line"}
        });*/
    script
        /*
        $("#investchart").kendoChart({
            height: 200,
            title: {
                text: "Investment Breakdown"
            },
            dataSource: {
                data: [
                    {category: "Moop", value: 5000},
                    {category: "Faith+1", value: 3000}
                ]
            },
            series: [{
                type: "donut",
                field: "value"
            }]
        });*/
    script

            $("#grid").kendoGrid({
                        height: 400,
                        columns: [
                            {title: "Band", field: "band"},
                            {title: "Project", field: "project"},
                            {title: "Shares Owned", field: "sharesOwned"},
                            {title: "Value", field: "shareValue"},
                            {title: "Status", field: "status"},
                            {title: "Revenue", field: "revenue"}
                        ],
                        dataSource: {
                            data:[
                                {band:"Moop",project:"Trilogy",sharesOwned:5,shareValue:5000,status:"In Production",revenue:"N/A"},
                                {band:"Faith+1",project:"Renewal",sharesOwned:3,shareValue:3000,status:"Released",revenue:"$675.45"}

                            ],
                            pageSize: 2
                        }
                    });



