extends layout

block content
    style
        body {
                padding-top: 60px;
                padding-bottom: 40px;
              }
    include common/topbar
    div.container
        div.hero-unit
            h2 Investor
            p SoundScry is a place where you can invest in a band’s album and then use your network to promote the band and share in the revenues.
            p: i Here’s how you get involved:
            ul
                li Browse albums where the musicians have offered to share in the profits. Listen to the music. If you think the band has some potential then purchase shares of the band.
                li Start promoting the band to your networks.
                li You will be paid a percentage of the proceeds (determined by the number of shares you own) from music and merchandising purchases made through the SoundScry platform.
            p: i  Example
            .well
                ul
                    li A band offers 50% of the profits from their new album for $5,000.
                    li You buy $50 of the Offering (1% assuming 5000 shares are available).
                    li You and other investors start to promote the band through your networks.
                    li 10,000 albums are sold for $10 each bringing in $100,000.
                    li After our 15% commission the band and the investors will split the $85,000 50/50 yielding $42,500 for the band and $42,500 to be split among the investors in proportion to their share holdings.
                    li n this case you would receive 1% of the $42,500 or $425. Not a bad return for a $50 investment!

            p: i For any merchandise on offer you would receive a corresponding split of the profits
            ul
                li Profits defined as the difference between the “selling price” and “cost to make”, for example, $15 (selling price) - $7.50 (cost to make) =$7.50 (profit) which in this example is split 50% by the musician and 50% by the investors for $3.75 each minus the SoundScry commission.
            p: a.btn.btn-primary.btn-large(href="#signupDialog",role="button",data-toggle="modal") Sign Up!