block content
    // signup dialog
    form#signupForm.well
        label Email
        input.span3(type="text",placeholder="Email",name="email")
        label Password
        input.span3(type="text",placeholder="Password",name="password")
        label Confirm Password
        input.span3(type="text",placeholder="Confirm Pass",name="passconfirm")
        label How do you think you will primarily use SoundScry?
        a(href="#",rel="tooltip",title="Music Lovers listen to and purchase music, Artists seek funding, connect with fans and seek investment, Promoters support their bands and fan base....")
            select(name="primaryuse")
                option(value="musiclover") Music Lover
                option(value="artist") Artist
                option(value="promoter") Promoter
    //
        div.modal-footer
            button.btn(data-dismiss="modal",aria-hidden="true") Close
            button.btn.btn-primary(id="signupbtn",type="submit") Sign Up!
