// Toolbar
div.navbar.navbar-inverse.navbar-fixed-top
    div.navbar-inner
        div.container-fluid
            a.btn.btn-navbar(data-toggle='collapse',data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='/') SoundScry
            div.nav-collapse.collapse

                ul.nav.test
                    li.active: a(href='/') Home
                        i.icon-home.icon-white
                    li: a(href='/store') Store
                    li: a(href='/cart') Cart &nbsp;
                        span.badge#cartCount 0
                    li: a(href='/about') About
                    li: a(href='/contact') Contact
                - if (locals.user)
                    p.navbar-text.pull-right
                                            a.navbar-link.pull-right(href='/logout') &nbsp;(Logout)
                    p.navbar-text.pull-right Logged in as
                        - if (locals.user.firstName)
                            a.navbar-link(href='/profile')  #{locals.user.firstName} #{locals.user.lastName}
                        - else
                            a.navbar-link(href='/profile')  #{locals.user.email}
                        - if((locals.user.primaryuse =='artist' && !locals.user.isArtist) || (locals.user.primaryuse =='investor' && !locals.user.isInvestor))
                            span.badge.badge-warning 1

                - else
                    div.navbar-text.pull-right
                        a.btn.btn-primary.span1(href="#signupDialog",role="button",data-toggle="modal") Sign Up
                    form.navbar-form.pull-right(method="POST",action="/login")
                        input.span2(type="email",name="email",placeholder="Email",required)
                        input.span2(type="password",name="password",placeholder="Password")
                        button.btn(type="submit") Log In
    script
        function checkCart() {
            var cartBadge = $('#cartCount');
            //cartBadge.text(parseInt(cartBadge.text()) + 1);
            $.ajax({
                type:"GET",
                url:"/api/cartsize",
                data: "",
                success: function(data) {
                    var size = parseInt(data.cartSize);
                    if (size = 0) {
                        //cartBadge.hide();
                        cartBadge.css('display','none');
                    } else {
                        //cartBadge.show();
                        cartBadge.css('display','');
                    }
                    cartBadge.text(data.cartSize);
                }
            });
        };
        $(document).ready(function(){
            checkCart();
        });
        socket.on('itemAddedToOrder',function(data){
            setTimeout(function(){
                alert("Item Added To Cart!");
                checkCart();

             },250);

        });
