div.row-fluid
    .span4
        h2 Total Earnings $
            span#totalEarnings
    .span2
        #summarySpark(style="background-color: #eeeeee;")


div.row-fluid
    .span12#revenueChart
div.row-fluid
    .span12#revTab
        ul


script


    var revChartDS = new kendo.data.DataSource(
        {
            transport: {
                read: '/api/offers/revenues/byuser/511a8c6ece62e90000000003'
            },
            schema: {
                model: {
                    fields: {
                        earnDate: {
                            type: "date"
                        }
                    }
                }
            },
            group: {
                field:"offeringName"
            },
            sort: {
                field:"earnDate",
                dir:"asc"
            },
            aggregate: {field:"amount",aggregate:"sum"},
            change: function(e) {
                //debugger;
                console.log("testing running");
                var totSalesByAlbumAggr = revChartDS.aggregates();
                var total = totSalesByAlbumAggr.amount.sum;
                $("#totalEarnings").text(parseFloat(total).toFixed(2));
            }
        }
    );



    var revChartSparkDS = new kendo.data.DataSource(
            {
                transport: {
                    read: '/api/offers/revenues/byoffer/byuser/511a8c6ece62e90000000003'
                }
            }
        );
    $('#summarySpark').kendoSparkline({
        dataSource: revChartSparkDS,
        series: [
            {
                type:"pie",
                field: "totalSales",
                categoryField:"offeringName",
                tootip: {
                           //visible:true,
                           //format: "{c}",
                           //template: "|#= value #|"
                       }
            }

        ],
        chartArea: {
            height: 100,
            width: 100,
            background: "#eeeeee"
        },
        tooltip: {
            visible: true,
            //template: "|#= value #|"
            format: "{0:c}"
        }

    });
    var revChart = $('#revenueChart').kendoChart({
        title: "Revenue History",
        dataSource: revChartDS,
        series: [
            {
                name:"Earnings",
                field: "amount",
                type:"line",
                missingValues: "interpolate"
            }
        ],
        categoryAxis: {
            baseUnit: "months",
            field:"earnDate"
        },
        chartArea: {
            height:300
            //,width:1200
            , margin: {right:0,left:0}
        }
    });
    var tabStrip = $('#revTab').kendoTabStrip().data("kendoTabStrip");
    function fillInTabs(){
       $.ajax({
           url: '/api/offers/revenues/byoffer/byuser/511a8c6ece62e90000000003',
           method: 'GET',
           success: function(data) {
               _.each(data,function(element,index,list){
                   //debugger;
                   console.log(element);
                   tabStrip.append({text:element.offeringName});
               });
              }
       });
      }
    //fillInTabs();
    function fragmentLoaded(){
        console.log("Fragment Loaded");
        fillInTabs();
    }


div.hide.row-fluid
    .span4
        p: small Investor, Promoter, Music Lover: Before being able to buy into the first musician offering you have to fill out the fields below in order to comply with SEC regulations on equity crowdfunding:
        form#bandInfo.well
            label(for="bandName") Company Name
            input#bandName.k-textbox(type="text",name="companyName",placeholder="Company Name",  validationMessage="please enter a band name",value=locals.user.companyName)
            label(for="phone") Phone #
            input#phone.k-textbox(type="text",name="phoneNumber",placeholder="Phone",value=locals.user.phoneNumber)
            p
                label What Best Describes You?
                    input#upTo40K(type="radio",name="investorClass",value='upTo40K')
                    label(for='upTo40K') Up to $40,000 in annual income
                    input#btw40and100K(type='radio',name='investorClass',value='btw40and100K')
                    label(for='btw40and100K') Between $40,000 and $100,000 in annual income
                    input#moreThan100K(type='radio',name='investorClass',value='moreThan100K')
                    label(for='moreThan100K') More than $100,000 in annual income
                    input#moreThan200Kand2mil(type='radio',name='investorClass',value='moreThan200Kand2mil')
                    label(for='moreThan200Kand2mil') More than $200,000 in annual income for 2 years and/or $1,000,000 in net worth
            label(for="ssn") SSN
            input#bandName.k-textbox(type="text",name="ssn",placeholder="SSN",  validationMessage="please enter a band name",value=locals.user.ssn)
            label - or -
            label(for="bandName") EIN/Tax ID
            input#bandName.k-textbox(type="text",name="einTaxID",placeholder="EIN/Tax ID",  validationMessage="please enter a band name",valus=locals.user.einTaxID)

            button#submitBasic.btn.btn-primary Update Investor Information
        .bandformstatus
        .well
            h4: a Investor Analytics
    .span8
        .row-fluid
            h4 Current Investments
        .row-fluid
            .span12
                .well
                    h5 Current Invested Offering
                .well
                    h5 Snapshot of Investments
                .well
                    h5 Reports
                    ul
                        li: a Account Information Summary
                        li: a Investment Summary by Offering
                        li: a Overall ROI
                .well
                    h5 Listen and Buy Music


script
    $('#submitBasic').click(function(){
        var formData = $('#basicInfoForm').serialize();
        var id = $("#uid").val();
        $.ajax({
            type:"PUT",
            url:"/api/user/"+id,
            data: formData,
            success: function(data) {
                //alert(sent);
                $('#alert').show();
            }
        });

    });
    $('#submitInvestor').click(function(){
        var formData = $('#investorInfoForm').serialize();
        var id = $("#uid").val();
        $.ajax({
            type:"PUT",
            url:"/api/user/"+id,
            data: formData,
            success: function(data) {
                //alert(sent);
                $('#alert').show();
            }
        });

    });
